# Dépendances principales pour FastAPI
fastapi
uvicorn
pydantic

# Dépendances pour la gestion des requêtes multipart/form-data et websockets
python-multipart
websockets

# Dépendances pour les tests
pytest
pytest-cov

